body{
  background-color: lightgray;
}
.container{
  background-color: white;
  margin: auto;
  margin-top: 40px;
  width: 800px;
  height: 700px;

}
input{
  border-radius: 2px;
  width: 100%;
  padding:10px;
  margin: auto;
  margin-top: 10px;
}
.best_contact{
  padding:10px;
} 