body{
	background:#eee;
	font-family:arial;
}
.each_example{
	max-width:400px;
	margin:30px auto;
	padding:20px;
	background:white;
	border:1px solid #ddd;
}
#listy_holder .listy{
	background:purple;
	padding:10px;
	margin:20px;
	color:white;
	font-weight:800;
	text-transform:uppercase;
}
#listy_holder .listy.wrong{
	background:red;
}
#color_holder .color_box{
	width:100px;
	height:100px;
	margin:10px;
	border:1px solid #666;
}
#false_fact_holder{
	background:red;
	color:white;
}
#true_fact_holder{
	background:green;
	color:white;
}

