#notification{
	color: orange;
}

.message{
	color:blue;
}

.error{
	color:orange;
}

.message.error{
	color:red;
}

span{
	color: green;
	font-weight: 900px;
}

.message.error.green{
	color:green;
}
