
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #f9f9f9;
	text-align: center;

}

h1{
	color: gray;
	text-align: center;
	font-size: 70px;
}

div p{
	max-width: 600px;
	margin:0 auto;
}

a{
	text-decoration: none;
	text-align: center;
	color: grey;
}